@import 'src/styles/variables/default.scss';

.create-container {
  width: 100%;

  &__body {
    width: 100%;
    font-size: 36px;
    color: $primary;
    text-align: center;

    .btn {
      width: 150px;
      margin: 20px auto;
      font-size: 24px;
      color: #FFFFFF;
      padding: 10px 15px;
      box-sizing: border-box;
      border-radius: 4px;
      cursor: pointer;
      background-color: $primary;

      &:hover {
        background-color: rgba($color: $primary, $alpha: .85);
      }
    }
  }
}