// 主题颜色
$primary: #409EFF;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #666666;

// 背景色
$page-bg-color: rgba(33, 32, 32, 1);
$body-bg-color: rgba(39, 39, 39, 1);

$header-hover-bg-color: rgba(60, 58, 58, .7);

// 侧边栏
$sidebar-base-bg-color: rgba(60, 58, 58, 1);
$sidebar-hover-bg-color: rgba(60, 58, 58, .7);
$sidebar-active-bg-color: rgba(60, 58, 58, .6);
$sidebar-border-color: rgba(39, 39, 39, 1);
